.container {
    max-width: 1240px;
    padding: 0 40px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 40px;
}

.santa {
    position: absolute;
    bottom: 0;
    left: 0;

}

.img {
    width: 100px;
    height: 100px;
}



.congratsVisible {
    position: absolute;
    top: -60px;
    right: -370px;
    width: 360px;
    border: 1px solid white;
    padding: 10px;
}

.congratsNone {
    display: none;
}

.clue {
    position: absolute;
    top: 70px;
    right: -210px;
    opacity: 0.3;
}
