.container {
    padding: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #1c1c21;
    color: white;
    box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04),
        0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04),
        0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 40px;
    position: relative;
    min-width: 720px;
}

.innerContainer {
    width: 700px;
    display: flex;
    flex-direction: column;
}

.id {
    font-size: 28px;
    line-height: 24px;
    font-style: normal;
    font-weight: normal;
    font-family: Iceland;
    margin: 12px 0 40px;
}

.name {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
}

.status {
    color: #00cccc;
    margin: 12px 0 50px;
}

.composition {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
}

.ingredientsList {
    margin-top: 30px;
    max-height: calc(100vh - 785px);
    overflow: auto;

    &::-webkit-scrollbar {
        width: 9px;
        height: 9px;
    }

    &::-webkit-scrollbar-thumb {
        background: #8585ad;
        border-radius: 0;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #b3afb3;
    }

    &::-webkit-scrollbar-track {
        background: #2f2f37;
        border-radius: 0;
        box-shadow: inset 0 0 0 0 #f0f0f0;
    }
}

.ingredientsItem {
    display: flex;
    list-style: none;
    align-items: center;
    margin-bottom: 24px;
}

.ingredientsImageContainer {
    border-radius: 100%;
    border: 4px solid #6831d6;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    width: 64px;
    background: black;
    margin-right: 24px;

    & > img {
        border-radius: 100%;
        position: relative;
        height: 55px;
    }
}

.ingredientsName {
    max-width: 400px;
}

.ingredientsPriceContainer {
    font-family: Iceland;
    font-size: 28px;
    line-height: 24px;
    font-style: normal;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 20px;

    & > p {
        margin-right: 10px;
    }
}
.footer {
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 24px;
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.time {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #8585ad;
}

.priceContainer {
    font-family: Iceland;
    font-size: 28px;
    line-height: 24px;
    font-style: normal;
    display: flex;

    align-items: center;
    & > p {
        margin-right: 10px;
    }
}
