.container {
    padding: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #1C1C21;
    color: white;
    box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 40px;
    position: relative;
    min-width: 720px;

}

.innerContainer {
    width: 700px;
    display: flex;
    flex-direction: column;
}

.id {
    font-size: 28px;
    line-height: 24px;
    font-style: normal;
    font-weight: normal;
    font-family: Iceland;
    margin: 12px 0 40px;
}

.name {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;

}

.status {
    color: #00CCCC;
    margin: 12px 0 12px;
}

