.ingredientsContainer {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.ingredientsBlock {
    display: flex;
    flex-wrap: wrap;
}

.title {
    margin: 20px 0;
}

.name {
    text-align: center;
    margin-top: 8px;
    margin-bottom: 0;
}
