.container {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    bottom: 70px;
    right: 30px;
    width: 100%;
}

.priceBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
}

.priceBlock {
    svg {
        width: 50px;
        height: 50px;
    }
}

.priceValue {
    font-size: 48px;
    line-height: 36px;
    font-family: 'Iceland', Arial, sans-serif;
}

.clearCart {
    position: relative;
    background-color: transparent;
    border: none;
    margin-right: 50px;
    cursor: pointer;
    width: 50px;

    &:hover {
        .clearCartTooltip {
            visibility: visible;
            opacity: 1;
        }
    }
}

.clearCartTooltip {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 90%;
    left: 52%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;

    &:after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
    }
}
